@font-face {
  font-family: "Cooper Hewitt";
  src: url(./CooperHewitt-WebFonts-public/CooperHewitt-Book.woff) format("woff"),
    url(./CooperHewitt-WebFonts-public/CooperHewitt-Book.svg) format("svg");
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url(./CooperHewitt-WebFonts-public/CooperHewitt-Bold.woff) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url(./CooperHewitt-WebFonts-public/CooperHewitt-BoldItalic.woff)
    format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url(./CooperHewitt-WebFonts-public/CooperHewitt-BookItalic.woff)
    format("woff");
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Cooper Hewitt", sans-serif;
  font-size: 110%;
  color: #333;
}

a {
  display: inline-block;
  margin-bottom: 1em;
  color: #333;
  text-decoration: none;
  font-size: 120%;
}

h2 {
  font-style: italic;
  margin-bottom: 1.5em;
}

h3 {
  margin-top: 2em;
}

hr {
  margin-top: 1em;
}
